@use './_variables' as layout;

@media screen and (min-width: layout.$breakpoint) {
    .layout-container {
        &.layout-static {
            .layout-sidebar {
                transition: transform .3s cubic-bezier(0, 0, 0.2, 1);
            }

            .layout-content-wrapper {
                margin-left: 17rem;
                transition: margin-left .3s cubic-bezier(0, 0, 0.2, 1);
            }

            .layout-topbar {
                .layout-menu-button {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &.layout-static-inactive {
            .layout-sidebar {
                transform: translateX(-100%);
            }

            .layout-content-wrapper {
                margin-left: 0;
            }

            .layout-topbar {
                .layout-menu-button {
                    i {
                        transform: rotate(0deg);
                    }
                }
            }
        }

        &.layout-overlay {
            .layout-content-wrapper {
                margin-left: 0;
            }

            .layout-sidebar {
                z-index: 999;
                transform: translateX(-100%);
                transition: transform .3s cubic-bezier(0, 0, 0.2, 1);
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }

                .layout-topbar {
                    .layout-menu-button {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: layout.$breakpoint) {
    .body-overflow-hidden {
        overflow: hidden;
    }

    .layout-topbar {
        .layout-topbar-start {
            display: none;
        }

        .layout-topbar-end {
            width: 100%;

            // Show mobile hamburger button in topbar end on small screens
            > .layout-topbar-mobile-button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                color: var(--topbar-item-text-color);
                background-color: var(--topbar-menu-button-bg);
                box-shadow: 0px 3px 5px rgb(0 0 0 / 6%), 0px 7px 9px rgb(0 0 0 / 12%), 0px 20px 25px -8px rgb(0 0 0 / 18%);
            }

            // Hide megamenu to keep topbar compact on mobile
            .layout-topbar-actions-start {
                display: none;
            }

            .layout-topbar-actions {
                width: 100%;
                justify-content: space-between;
            }
        }
    }

    .layout-content-wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .layout-mask {
        background-color: var(--mask-bg);
        z-index: 998;
    }

    .layout-sidebar {
        z-index: 999;
        transform: translateX(-100%);
    }

    .layout-megamenu {
        .layout-megamenu-button {
            display: none !important;
        }
    }

    .layout-mobile-active {
        .layout-sidebar {
            transform: translateX(0);
        }

        .layout-mask {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media screen and (min-width: 1729px) {
    .layout-content {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}