@use './_variables' as *;
@use './_fonts';
@use './_utils';
@use './_typography';
@use './_animation';
@use './topbar/_topbar';
@use './sidebar/_sidebar';
@use './_menuprofile';
@use './_megamenu';
@use './_landing';
@use './_main';
@use './_content';
@use './_footer';
@use './_config';
@use './_breadcrumb';
@use './_responsive';

// Custom styles for compact LeftSidebar component
.left-sidebar {
  width: 4rem !important;
  min-width: 4rem;
  background-color: var(--blue-800);
  color: white;
  transition: all 0.3s ease;

  .p-button {
    width: 100%;
    justify-content: center;
    border: none;
    padding: 0.5rem;
    color: white;
    background: transparent;

    &:hover {
      background-color: var(--blue-700);
    }

    &.p-button-text {
      &:focus {
        box-shadow: none;
      }
    }
  }

  .p-button.p-highlight {
    background-color: var(--blue-600);
  }
}