$primaryColor: #3f51b5;
$primaryLightestColor: #e8eaf6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor: #ffffff;
$accentColor: #ff4081;
$accentTextColor: #ffffff;

@import '../_variables.scss';
@import '../../_compact.scss';
@import '../../theme-base/_components.scss';
@import '../../extensions/_vendor_extensions.scss';
